<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./style.css">
        <title>Photo Upload</title>
    </head>
    <body>
        <h1>Nodejs File Upload with MongoDB</h1>
        <div class ='container'>
            <form action="/upload" method="POST">
                <input type="file" name="File"/><br>
                <input type="text" placeholder="Caption">
                <button type="submit">UPLOAD</button>
            </form>
        </div>


    </body>
</html>