<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./style.css">
        <title>Photo Upload</title>
    </head>
    <body>
        <h1>Nodejs File Upload with MongoDB</h1>
        <div class ='container'>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name='photo'/><br><br>
                <input type="text" placeholder="Caption" name="caption">
                <button type="submit">UPLOAD</button>
            </form>
        </div>
        <div>
            <% images.forEach(function(image) { %>
            <div>
                <img src="data:image/<%=image.image.contentType%>;base64,
                <%=image.image.data.toString('base64')%>" id="img">
                <br>
                <text><%=image.caption%></text>
            </div>
        </div>

            <% }); %>
    </div>


    </body>
</html>