h1{
    background-color: darkblue;
    color: white;
    text-align: center;
}

.container{
    padding:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}